body {
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}

h1 {
    color: white;
    background-color: rgb(122, 19, 19);
    padding: 15px 40px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}

.question {
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    width: 500px;
    font-size: 16px;
}

.feedback {
    display: none;
    background-color: rgb(0, 67, 0);
    color: white;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.feedbackWrong {
    display: none;
    background-color: rgb(98, 21, 21);
    color: white;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

button {
    padding: 10px 30px;
    font-size: 16px;
    background-color: rgb(157, 157, 157);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

#score {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

#congrats {
    color: white;
    font-size: 18px;
    font-weight: bold;
}